@import url('./colors.css');

.entry-card {
    width: 30%;
    border: solid 2px black;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;    
    box-shadow: 10px 5px 2px 2px darkgrey;
}