@import url('./colors.css');

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: large;
}

/* Top header */
.top-header {
    height: 5vh;
    padding: 1.5rem 0 1.75rem;
    border-bottom: groove 2px;
    margin: 0;
    margin-bottom: 5vh;
    background: linear-gradient(
        var(--primary-bg-color-from),
        var(--primary-bg-color-to)
    );
}

#site-logo {
    padding: 2rem;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-decoration: none;
}

.header-links {
    display: block;
    padding: 0;
    margin: 0;
    margin-right: 0.75vw;
    clear: none;
    float: right;
    list-style: none;
}

.header-links > li {
    padding: 1vh 1vw;
    border-radius: 5px;
    margin-left: 5vw;
    background: linear-gradient(
        var(--secondary-bg-color-from),
        var(--secondary-bg-color-to)
    );
    float: left;
}

.top-header li a {
    color: black;
    text-decoration: none;
}

.top-header li:hover {
    outline: 2px solid skyblue;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: .1rem 1rem;
    border-top: 2px solid var(--primary-border-color);
    margin: 0;
    background: linear-gradient(
        to bottom,
        var(--primary-bg-color-from),
        var(--primary-bg-color-to)
    );
    text-align: center;
}

footer > p {
    margin: 3px;
    font-weight: bold;
}

.footer-links {
    display: block;
    padding: 0;
    margin: 0;
    columns: 3;
    list-style: none;
}

.footer-links a {
    /* text-decoration: none; */
    color: black;
}

.footer-links > li {
    padding: 1vh 1vw;
    border-radius: 5px;
    margin: 0;
}
