@import url('./colors.css');

/* Main content */
#main-container {
    position: relative;
    width: 40%;
    min-height: 25vh;
    max-height: 75vh;
    padding: 0;
    border: 2px solid var(--primary-border-color);
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(
        var(--primary-bg-color-from),
        var(--primary-bg-color-to)
    );
}

.required {
    color: red;
}

/* Input form */
#input-form {
    padding: 5px;
    margin: 1vh 1vw;
    text-align: justify;
}

#input-form .input {
    display: inline;
    max-width: 80%;
}

#input-form label {
    display: inline-block;
    width: 5em;
    text-align: right;
}

textarea {
    min-height: 2em;
    max-height: 50vh;
}