@import url('./colors.css');

.results-container {
    width: 75%;
    padding: 0 1rem;
    border: solid 2px var(--secondary-border-color);
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(
        to top,
        var(--secondary-bg-color-from),
        var(--secondary-bg-color-to)
    );
    box-shadow: 10px 5px 10px 2px var(--shadow-color);
    text-align: center;
}

.results-container ul {
    display: inline-block;
    text-align: left;
}


/* Same as entries.css */
.entry-card {
    position: relative;
    width: 30%;
    padding:  0 1rem;
    border: solid 2px var(--secondary-border-color);
    border-radius: 10px;
    margin: auto;
        margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(
        to top,
        var(--secondary-bg-color-from),
        var(--secondary-bg-color-to)
    );
    box-shadow: 10px 5px 10px 2px var(--shadow-color);
    text-align: center;
}

.entry-card .animal {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-border-color);
    margin-top: 0;
    margin-right: -1rem;
    font-size: larger;
    text-align: center;
}

.entry-card .timestamp {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: small;
}

.entry-card img {
    display: block;
    max-width: 100%;
    max-height: 30vh;
    border-radius: 10px;
    margin: auto;
}